In [35]:
# Importing Packages
import json
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objs as go
import plotly.tools as tls
import plotly.express as px
import plotly.offline as py
import nltk
from nltk.corpus import stopwords
from wordcloud import WordCloud
from collections import Counter
import numpy as np

In [36]:
# Importing the data
tweet_json = open('tweets_ws22_v1.json')
data = json.load(tweet_json)

print("Number of Tweets:" , len(data))

Number of Tweets: 16949

In [37]:
# exploring data
tweetID = 0
print("Tweet", data[tweetID]["text"])
print("Component:", data[tweetID]["labels"]["topic"][0]['topic'])
print("Sentiment:", data[tweetID]["labels"]["sentiment"][0]['sentiment'])

tweet_json.close()

Tweet @DSisourath The Thameslink core between London St Pancras and London Blackfriars in rush hours onlybut the in cab rubbish rarely works
Component: service
Sentiment: negative

In [38]:
#Converting json to pandas dataframe
df = pd.DataFrame.from_dict(data)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16949 entries, 0 to 16948
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   source_created_at  16949 non-null  object
 1   author_id          16949 non-null  object
 2   text               16949 non-null  object
 3   source             16949 non-null  object
 4   language           16949 non-null  object
 5   longitude          1425 non-null   float64
 6   latitude           1425 non-null   float64
 7   id                 16949 non-null  object
 8   labels             16949 non-null  object
 9   source_id          15548 non-null  object
dtypes: float64(2), object(8)
memory usage: 1.3+ MB

In [40]:
df["text"][0]

'@DSisourath The Thameslink core between London St Pancras and London Blackfriars in rush hours onlybut the in cab rubbish rarely works'

# Creating a final datframe for nested dictionaries within columns

In [41]:
label = df['labels'].apply(pd.Series)
label.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16949 entries, 0 to 16948
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   topic      16949 non-null  object
 1   sentiment  16949 non-null  object
dtypes: object(2)
memory usage: 265.0+ KB

In [42]:
topic = label['topic'].apply(pd.Series)
topic.info()
topics = topic[0].apply(pd.Series)
topics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16949 entries, 0 to 16948
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       16949 non-null  object
dtypes: object(1)
memory usage: 132.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16949 entries, 0 to 16948
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   tweet_id      16949 non-null  object
 1   user_id       16949 non-null  object
 2   relevant      16949 non-null  bool
 3   topic         16949 non-null  object
 4   ground_truth  16949 non-null  bool
 5   id            16949 non-null  object
dtypes: bool(2), object(4)
memory usage: 562.9+ KB

In [43]:
sentiment = label['sentiment'].apply(pd.Series)
sentiment.info()
sentiments = sentiment[0].apply(pd.Series)
sentiments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16949 entries, 0 to 16948
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       16949 non-null  object
dtypes: object(1)
memory usage: 132.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16949 entries, 0 to 16948
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   tweet_id      16949 non-null  object
 1   user_id       16949 non-null  object
 2   sentiment     16949 non-null  object
 3   ground_truth  16949 non-null  bool
 4   id            16949 non-null  object
dtypes: bool(1), object(4)
memory usage: 546.3+ KB

In [44]:
label_data = pd.concat([topics, sentiments], axis=1)
label_data.info()
labels = label_data.loc[:,~label_data.columns.duplicated()]
labels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16949 entries, 0 to 16948
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   tweet_id      16949 non-null  object
 1   user_id       16949 non-null  object
 2   relevant      16949 non-null  bool
 3   topic         16949 non-null  object
 4   ground_truth  16949 non-null  bool
 5   id            16949 non-null  object
 6   tweet_id      16949 non-null  object
 7   user_id       16949 non-null  object
 8   sentiment     16949 non-null  object
 9   ground_truth  16949 non-null  bool
 10  id            16949 non-null  object
dtypes: bool(3), object(8)
memory usage: 1.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16949 entries, 0 to 16948
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   tweet_id      16949 non-null  object
 1   user_id       16949 non-null  object
 2   relevant      16949 non-null  bool
 3   topic         16949 non-null  object
 4   ground_truth  16949 non-null  bool
 5   id            16949 non-null  object
 6   sentiment     16949 non-null  object
dtypes: bool(2), object(5)
memory usage: 695.3+ KB

In [45]:
tweet_data = pd.concat([df, labels], axis=1)
tweet1 = tweet_data.loc[:,~tweet_data.columns.duplicated()]
tweet = tweet1.drop(columns=["labels"])
tweet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16949 entries, 0 to 16948
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   source_created_at  16949 non-null  object
 1   author_id          16949 non-null  object
 2   text               16949 non-null  object
 3   source             16949 non-null  object
 4   language           16949 non-null  object
 5   longitude          1425 non-null   float64
 6   latitude           1425 non-null   float64
 7   id                 16949 non-null  object
 8   source_id          15548 non-null  object
 9   tweet_id           16949 non-null  object
 10  user_id            16949 non-null  object
 11  relevant           16949 non-null  bool
 12  topic              16949 non-null  object
 13  ground_truth       16949 non-null  bool
 14  sentiment          16949 non-null  object
dtypes: bool(2), float64(2), object(11)
memory usage: 1.7+ MB

In [46]:
tweet.shape

(16949, 15)

In [47]:
tweet

,source_created_at,author_id,text,source,language,longitude,latitude,id,source_id,tweet_id,user_id,relevant,topic,ground_truth,sentiment
0,2020-09-18 21:56:20.798000,593731316,@DSisourath The Thameslink core between London...,sprinklr,en,-0.12574,51.50853,acd7673f-e621-5f1a-d662-df278964a6ea,NaN,acd7673f-e621-5f1a-d662-df278964a6ea,Z003XDCS,True,service,True,negative
1,2020-10-13 07:31:53.122000,745583289520496640,@DulwichHistory Loving the complaint about peo...,sprinklr,en,-0.12574,51.50853,5b92aba8-4b05-6c63-8485-e9c870742137,NaN,5b92aba8-4b05-6c63-8485-e9c870742137,Z003XDCS,True,delays,True,negative
2,2020-10-26 19:27:24.695000,303134761,@SW_Help .And yet you have no toilets on some ...,sprinklr,en,-0.12574,51.50853,0a799c07-8b76-17ba-b840-e538d51e832d,NaN,0a799c07-8b76-17ba-b840-e538d51e832d,Z003XDCS,True,toilets,True,negative
3,2020-10-26 19:28:49.281000,303134761,@SW_Help you have no toilets on some of your t...,sprinklr,en,-0.12574,51.50853,8b4d2a34-c4f0-0e19-4055-dfe4af5f0e14,NaN,8b4d2a34-c4f0-0e19-4055-dfe4af5f0e14,Z003XDCS,True,toilets,True,negative
4,2020-09-28 11:59:41.212000,56427671,@SpeedySticks007 @MrNeilJH @TLRailUK @christia...,sprinklr,en,-1.09125,50.79899,1fd08862-d8c7-0682-6b11-2603fba22d94,NaN,1fd08862-d8c7-0682-6b11-2603fba22d94,Z003XDCS,True,seats,True,neutral
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16944,2019-07-11 07:34:35,24940900,Haha oh man the audio corruption on @TLRailUK ...,brandwatch,en-GB,NaN,NaN,b47948df-1732-7021-ee77-238f839a2ea0,1149220424313708544,b47948df-1732-7021-ee77-238f839a2ea0,Z003XDCS,True,announcements,True,neutral
16945,2020-08-10 11:19:10.181000,63559912,@TLRailUK SweetIs there a plug to charge my ph...,sprinklr,en,-0.12574,51.50853,bcb3a01a-e58c-e082-3111-10fa77d1a9f7,NaN,bcb3a01a-e58c-e082-3111-10fa77d1a9f7,Z003XDCS,True,plugs,True,neutral
16946,2020-08-29 09:51:10.833000,277455263,@TLRailUK now there are far fewer commuters ha...,sprinklr,en,-0.12574,51.50853,f440c7e6-9e2d-31c4-3626-b9d8288cbbe3,NaN,f440c7e6-9e2d-31c4-3626-b9d8288cbbe3,Z003XDCS,True,tables,True,neutral
16947,2020-11-02 12:06:06.967000,3050957613,@geofftech I am voting for Thameslink. 1. in a...,sprinklr,en,-0.12574,51.50853,859ab156-cad3-3bf0-4b6d-de494b483501,NaN,859ab156-cad3-3bf0-4b6d-de494b483501,Z003XDCS,True,toilets,True,neutral
16948,2020-11-02 12:06:06.967000,3050957613,@geofftech I am voting for Thameslink. 1. in a...,sprinklr,en,-0.12574,51.50853,859ab156-cad3-3bf0-4b6d-de494b483501,NaN,859ab156-cad3-3bf0-4b6d-de494b483501,Z003XDCS,True,announcements,True,neutral

In [48]:
tweet1 = tweet[["id","source_created_at","text","sentiment","topic","latitude","longitude"]]

In [49]:
tweet1 = tweet1.drop_duplicates(subset=['id'])

In [50]:
tweet1["latitude"] = tweet1["latitude"].astype('object', copy=False)
tweet1["longitude"] = tweet1["longitude"].astype('object', copy=False)

In [51]:
tweet1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15749 entries, 0 to 16947
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 15749 non-null  object
 1   source_created_at  15749 non-null  object
 2   text               15749 non-null  object
 3   sentiment          15749 non-null  object
 4   topic              15749 non-null  object
 5   latitude           1308 non-null   object
 6   longitude          1308 non-null   object
dtypes: object(7)
memory usage: 984.3+ KB

In [52]:
tweet1 = tweet1.fillna(0)

In [122]:
import pyodbc
import pandas as pd
import numpy as np
server = 'mytwitterserver.database.windows.net'
database = 'htw-twitter-project-2022'
username = 'rashmi'
password = '{sahara*6094A}' 
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()
# Insert Dataframe into SQL Server:
for index, row in tweet1.iterrows():
     cursor.execute("INSERT INTO dbo.tweet (id,tweet_time,tweet_text,sentiment,topic,latitude,longitude) values(?,?,?,?,?,?,?)", row.id, row.source_created_at, row.text,row.sentiment,row.topic,row.latitude,row.longitude)
cnxn.commit()
cursor.close()